.parent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   

}
.child{
    width: 20%;
    border: 1px solid #060711;
    padding: 1%;
    margin: 1%;
    box-shadow: 0px 8px 20px -8px #000000;
    text-align: center;
    border-radius: 50%;
}

.profile{
width: 100px;
border: 1px solid #000;
border-radius: 70%;
}
.social{
    width: 40px;
        
}

@media only screen and(min-width:360px)and(max-width:640px){
    .child{
        width: 80%;
        border: 1px solid #060711;
        padding: 1%;
        margin: 1%;
        box-shadow: 0px 8px 20px -8px #000000;
        text-align: center;
    }
}